body {
  font-family: "Public Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: #22668a;
}

.category-aktif {
  background-color: #22668a;
  color: white;
}

.btn-primary {
  background-color: #22668a;
}

/* .hasil {
  max-height: 480px;
} */

.overflow-auto::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-height: 1000px) {
  .hasil {
    max-height: 480px;
  }
}
